[submodule "paddle"]
	path = paddle
	url = https://github.com/PaddlePaddle/Paddle.git
[submodule "book"]
	path = book
	url = https://github.com/PaddlePaddle/book.git
[submodule "source/anakin"]
	path = source/anakin
	url = https://github.com/PaddlePaddle/Anakin
[submodule "mobile"]
	path = source/mobile
	url = https://github.com/PaddlePaddle/Mobile
