# IDE settings
*.DS_Store
.vscode
.idea

# virtualenv
venv/
ENV/

# Compiled Python files
__pycache__/

# Build and output directories
build
output/

# Specific documentation files
/doc/fluid/menu.zh.json
/doc/fluid/menu.en.json
