language: cpp
cache:
  bundler: true
  directories:
    - $HOME/.ccache
    - $HOME/.cache/pip
    - $HOME/docker
 #   - $TRAVIS_BUILD_DIR/external/
    - $TRAVIS_BUILD_DIR/external/Paddle/build/third_party

sudo: required
dist: trusty
services:
  - docker
os:
  - linux
env:
  - JOB=doc

addons:
  apt:
    packages:
      - git
      - python
      - python-pip
      - python2.7-dev
      - golang
  ssh_known_hosts: 13.229.163.131
before_install:
  -  sudo pip install pylint pytest astroid isort 
  # Load cached docker images
  #- if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"; fi
  
script:
  - |
     scripts/deploy_docs.sh
     
#before_cache:
#  # Save tagged docker images
#  - >
#    mkdir -p $HOME/docker && docker images -a --filter='dangling=false' --format 'paddlepaddle/paddle:latest-dev {{.ID}}'
#    | xargs -n 2 -t sh -c 'test -e $HOME/docker/$1.tar.gz || docker save $0 | gzip -2 > $HOME/docker/$1.tar.gz'
    
notifications:
  email:
    on_success: change
    on_failure: always
