alabaster==0.7.10
Babel==2.6.0
backports.functools-lru-cache==1.5
certifi==2018.4.16
chardet==3.0.4
CommonMark==0.5.4
cycler==0.10.0
docutils==0.14
graphviz==0.8.3
idna==2.6
imagesize==1.0.0
Jinja2==2.10
kiwisolver==1.0.1
LinkChecker==9.3
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
nltk==3.3
numpy==1.14.4
opencv-python==3.4.1.15
packaging==17.1
paddlepaddle
Pillow==5.1.0
protobuf==3.1.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
rarfile==3.0
recommonmark==0.4.0
recordio==0.1.5
requests==2.9.2
scipy==1.1.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-markdown-tables==0.0.3
sphinx-rtd-theme==0.4.0
sphinxcontrib-websupport==1.1.0
subprocess32==3.5.1
typing==3.6.4
urllib3==1.22
