# temp files used locally
alias_macro_lines.tmp.md
generated.tmp.md

# files will be used in PaConvert
docs_mappings.json

# files copied from PaConvert
api_alias_mapping.json

# log files
alias_refer_failed.log
